body {
    background-color: black;
}

.neon-btn {
    color: red;
    background-color: orange;
    border: double;
    border-color: yellow;
}

.log-block {
    background-color: black;
    color: red
}

.output {
    color:saddlebrown;
}